@import url("fonts/BeautyMountainsPersonalUse-od7z.ttf");
@import url("fonts/Bill\ Smith\ Demo.ttf");
@import url("fonts/cambria.ttc");
@import url("fonts/cambriab_0.ttf");
@import url("fonts/Muli-Light.ttf");
@import url("fonts/Muli-SemiBold.ttf");
@import url("fonts/Muli.ttf");

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
i {
  cursor: pointer;
}
.landing {
  background-image: url("assets/others/bg1.png");
  background-color: #cccccc;
  min-height: 80vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.feature-card {
  height: 300px;
  padding: 5px;
}
.feat-caption {
  margin-top: 20px;
}

.caption {
  background-color: red;
  margin-bottom: 20px;
  text-align: center;
  position: relative;
  bottom: 20px;
  opacity: 50%;
}
.caption span {
  opacity: 100%;
  margin-bottom: 7px;
}
.check-icon {
  position: relative;
  top: 3px;
}

a {
  text-decoration: none;
  /* color: ; */
}
#about {
  min-height: 70vh;
}

.footer {
  color: #eee;
  padding-top: 30px;
  background-image: url("assets/others/footerBg.png");
  background-color: #cccccc;
  min-height: 40vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 20px;
}
.footer .mail-icon {
  position: relative;
  top: 10px;
}

.footer ul {
  list-style: square;
  list-style-type: square;
  columns: blue;
}

.landing-row {
  display: flex;
  align-items: flex-end;
}
@media (max-width: 480px) {
  .landing {
    text-align: center;
  }

  .title {
    text-align: center;
  }
  .landing-row {
    display: block;
  }
}
